<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.dao.UserMapper">
    <select id="queryUserByNameAndPassword" resultType="com.springmvc.entity.User">
        select * from t_user
        <where>
            <if test="username!=null">
                username=#{username}
            </if>
            <if test="password!=null">
                and password=#{password}
            </if>
            <if test="type!=null">
                and type=#{type}
            </if>
        </where>
    </select>

    <select id="queryUserInfo" parameterType="com.springmvc.entity.User" resultType="com.springmvc.entity.User">
        select * from t_user
        <where>
            <if test="username!=null and username!=''">
                username=#{username}
            </if>
            <if test="password!=null and password!=''">
                and password=#{password}
            </if>
            <if test="chinesename!=null and chinesename!=''">
                and chinesename=#{chinesename}
            </if>
            <if test="status!=null">
                and status=#{status}
            </if>
            <if test="type!=null">
                and type=#{type}
            </if>
            <if test="connect!=null">
                and connect=#{connect}
            </if>
            <if test="remark!=null">
                and remark=#{remark}
            </if>
            <if test="role!=null">
                and role=#{role}
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="com.springmvc.entity.User">
        insert into t_user (username,password,chinesename,connect,status,type,remark)
        values (#{username},#{password},#{chinesename},#{connect},#{status},#{type},#{remark})
    </insert>

    <update id="updatePassword" parameterType="com.springmvc.entity.User">
        update t_user
        <set>
            <if test="password!=null">
                password=#{password}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="queryAllUserInfo" resultType="com.springmvc.entity.User">
         select a.*,b.name from t_user a
         LEFT JOIN t_dictionary b ON  a.role=b.id
    </select>

    <update id="updateRole">
        update t_user set role=#{param2}  where id=#{param1}
    </update>
</mapper>